'<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-tab-group>
        <mat-tab label="Imobiliario">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(arisp, 'arisp')" [(ngModel)]="arisp">Arisp</mat-checkbox>
          </div>
        </mat-tab>

        <mat-tab label="Civil">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(arpenp, 'arpenp')" [(ngModel)]="arpenp">Arpenp</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(detranCnh, 'detranCnh')" [(ngModel)]="detranCnh">Detran Cnh</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(detranTimeLine, 'detranTimeLine')" [(ngModel)]="detranTimeLine">Detran Linha do Tempo</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(detranVehicle, 'detranVehicle')" [(ngModel)]="detranVehicle">Detran Veiculo</mat-checkbox>
          </div>
        </mat-tab>

        <mat-tab label="Juridico">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(cadesp, 'cadesp')" [(ngModel)]="cadesp">Cadesp</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(censec, 'censec')" [(ngModel)]="censec">Censec</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(jucesp, 'jucesp')" [(ngModel)]="jucesp">Jucesp</mat-checkbox>
          </div>
        </mat-tab>

        <mat-tab label="Trabalhista">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(cagedWorker, 'cagedWorker')" [(ngModel)]="cagedWorker">Caged Trabalho</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(cagedResponsible, 'cagedResponsible')" [(ngModel)]="cagedResponsible">Caged Responsavel</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(cagedCompany, 'cagedCompany')" [(ngModel)]="cagedCompany">Caged Empresa</mat-checkbox>
          </div>
        </mat-tab>
      
        <mat-tab label="Criminal">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(infocrim, 'infocrim')" [(ngModel)]="infocrim">Infocrim</mat-checkbox>
            <mat-checkbox color="primary" (click)="disableControl(sivec, 'sivec')" [(ngModel)]="sivec">Sivec</mat-checkbox>
          </div>
        </mat-tab>

        <mat-tab label="Eleitoral">
          <div class="options">
            <mat-checkbox color="primary" (click)="disableControl(sitel, 'sitel')" [(ngModel)]="sitel">Sitel</mat-checkbox>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-md-4">
      <div class="content">
        <div class="form-wrap">
          <app-arisp-form *ngIf="arisp" (formReady)="addControl('arisp', $event)">></app-arisp-form>
        </div>

        <div class="form-wrap">
          <app-arpenp-form *ngIf="arpenp" (formReady)="addControl('arpenp', $event)">></app-arpenp-form>
        </div>

        <div class="form-wrap">
          <app-cadesp-form *ngIf="cadesp" (formReady)="addControl('cadesp', $event)">></app-cadesp-form>
        </div>

        <div class="form-wrap">
          <app-caged-company-form *ngIf="cagedCompany" (formReady)="addControl('cagedCompany', $event)"></app-caged-company-form>
        </div>

        <div class="form-wrap">
          <app-caged-responsible-form *ngIf="cagedResponsible" (formReady)="addControl('cagedResponsible', $event)"></app-caged-responsible-form>
        </div>

        <div class="form-wrap">
          <app-caged-worker-form *ngIf="cagedWorker" (formReady)="addControl('cagedWorker', $event)"></app-caged-worker-form>
        </div>

        <div class="form-wrap">
          <app-censec-form *ngIf="censec" (formReady)="addControl('censec', $event)">></app-censec-form>
        </div>

        <div class="form-wrap">
          <app-detran-cnh-form *ngIf="detranCnh" (formReady)="addControl('detranCnh', $event)">></app-detran-cnh-form>
        </div>

        <div class="form-wrap">
          <app-detran-timeline-form *ngIf="detranTimeLine" (formReady)="addControl('detranTimeline', $event)">></app-detran-timeline-form>
        </div>

        <div class="form-wrap">
          <app-detran-vehicle-form *ngIf="detranVehicle" (formReady)="addControl('detranVehicle', $event)">></app-detran-vehicle-form>
        </div>

        <div class="form-wrap">
          <app-infocrim-form *ngIf="infocrim" (formReady)="addControl('infocrim', $event)">></app-infocrim-form>
        </div>

        <div class="form-wrap">
          <app-jucesp-form *ngIf="jucesp" (formReady)="addControl('jucesp', $event)">></app-jucesp-form>
        </div>

        <div class="form-wrap">
          <app-sitel-form *ngIf="sitel" (formReady)="addControl('sitel', $event)">></app-sitel-form>
        </div>

        <div class="form-wrap">
          <app-sivec-form *ngIf="sivec" (formReady)="addControl('sivec', $event)">></app-sivec-form>
        </div>

        <button (click)="search()" *ngIf="isEmpty(form.value)" [disabled]="(this.form.status === 'INVALID') || isLoading()" mat-button color="primary">Enviar</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="content">
        <h4> Pesquisas </h4>

        <div class="result">
          <div class="response" *ngIf="arisp">
            <h3>arisp</h3>
            <div class="loading" *ngIf="arispLoading">
              <mat-spinner diameter="50"></mat-spinner>
            </div>
            <app-arisp-result [response]="arispResponse"></app-arisp-result>
          </div> 
          <div class="response" *ngIf="arpenp">
            <h3>arpenp</h3>
            <div class="loading" *ngIf="arpenpLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-arpenp-result [response]="arpenpResponse"></app-arpenp-result>
          </div> 
          <div class="response" *ngIf="cadesp">
            <h3>cadesp</h3>
            <div class="loading" *ngIf="cadespLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-cadesp-result [response]="cadespResponse"></app-cadesp-result>
          </div> 
          <div class="response" *ngIf="cagedCompany">
            <h3>cagedCompany</h3>
            <div class="loading" *ngIf="cagedCompanyLoading">
                <mat-spinner diameter="50">
                  </mat-spinner>
            </div>
            <app-caged-company-result [response]="cagedCompanyResponse"></app-caged-company-result>
          </div> 
          <div class="response" *ngIf="cagedResponsible">
            <h3>cagedResponsible</h3>
            <div class="loading" *ngIf="cagedResponsibleLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-caged-responsible-result [response]="cagedResponsibleResponse"></app-caged-responsible-result>
          </div> 
          <div class="response" *ngIf="cagedWorker">
            <h3>cagedWorker</h3>
            <div class="loading" *ngIf="cagedWorkerLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-caged-worker-result [response]="cagedWorkerResponse"></app-caged-worker-result>
          </div> 
          <div class="response" *ngIf="censec">
            <h3>censec</h3>
            <div class="loading" *ngIf="censecLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-censec-result [response]="censecResponse"></app-censec-result>
          </div> 
          <div class="response" *ngIf="detranCnh">
            <h3>detranCnh</h3>
            <div class="loading" *ngIf="detranCnhLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-detran-cnh-result [response]="detranCNHResponse"></app-detran-cnh-result>
          </div> 
          <div class="response" *ngIf="detranTimeLine">
            <h3>detranTimeLine</h3>
            <div class="loading" *ngIf="detranTimeLineLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            <app-detran-timeline-result [response]="detranTimeLineResponse"></app-detran-timeline-result>
          </div> 
          <div class="response" *ngIf="detranVehicle">
            <h3>detranVehicle</h3>
            <div class="loading" *ngIf="detranVehicleLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            {{ detranVehicleResponse | json }}
          </div> 
          <div class="response" *ngIf="infocrim">
            <h3>infocrim</h3>
            <div class="loading" *ngIf="infocrimLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            {{ infocrimResponse | json }}
          </div> 
          <div class="response" *ngIf="jucesp">
            <h3>jucesp</h3>
            <div class="loading" *ngIf="jucespLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            {{ jucespResponse | json }}
          </div> 
          <div class="response" *ngIf="sitel">
            <h3>sitel</h3>
            <div class="loading" *ngIf="sitelLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            {{ sitelResponse | json }}
          </div> 
          <div class="response" *ngIf="sivec">
            <h3>sivec</h3>
            <div class="loading" *ngIf="sivecLoading">
              <mat-spinner diameter="50">
              </mat-spinner>
            </div>
            {{ sivecResponse | json }}
          </div> 
        </div>
      </div>
    </div>

  </div>