:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.row {
  flex-direction: column;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 0 auto;
}