/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar-row {
  span {
    margin: 0 8px;
  }
}

.logo {
  margin-right: 2rem
}

a{
  text-decoration: none;
  color: #673ab7;
  font-size: 0.8em;

  :hover {
    text-decoration: underline !important;
  }
}
