<div class="container">

  <div class="content">
    <h4> Portais disponiveis para consulta </h4>
    <mat-checkbox [formControl]="arisp">Arisp</mat-checkbox>
  </div>

  <div class="content">
    <div *ngIf="arisp.value">
      <h3> Arisp </h3>
      <app-arisp-form></app-arisp-form>
    </div>
  </div>

  <div class="content">
    <h4> Pesquisas </h4>
    
    <div class="result">
      <mat-progress-spinner
        color='primary'
        mode='indeterminate'
        diameter="30">
      </mat-progress-spinner>
      <span class="title">Arisp #322131</span>
    </div>
    
  </div>
</div>`